<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="sapotero.rxtest">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application

        android:name=".application.EsdApplication"
        android:allowBackup="true"


        android:largeHeap="true"
        android:hardwareAccelerated="true"

        android:icon="@drawable/gerb"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher">

        <activity
            android:name=".views.activities.LoginActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activities.MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".views.activities.InfoActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".views.activities.InfoNoMenuActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activities.InfoNoMenuActivity"/>
        </activity>

        <service
            android:name=".services.MainService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity
            android:name=".views.activities.SettingsActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".views.activities.DecisionConstructorActivity"
            android:exported="true"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".views.activities.DocumentImageFullScreenActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".views.activities.DocumentInfocardFullScreenActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".views.activities.SettingsTemplatesActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".views.activities.LogActivity">
        </activity>
        <activity android:name=".views.activities.FileSignActivity">
        </activity>

        <!--FileProvider to open not PDF images in external apps-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="sed.mobile.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>